body {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  background-color: rgb(205, 205, 205);
  width: 300px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.para1 {
  width: fit-content;
  margin: auto;
}

.hobbies {
  display: flex;
  justify-content: center;
  width: 950px;
  margin: auto;

  background-color: rgb(205, 205, 205);

}

.fav-hobby1 {
  width: fit-content;
}

.fav-hobby2 {

  width: 150px;
  height: 80px;
}

.para2 {
  width: 540px;
  height: 80px;
}

.link1 {
  width: 540px;
height: 100px;
}

.link2{
  width:540px ;
  background-color: rgb(205, 205, 205);
}
